[submodule "p4m-goncv"]
	path = p4m-gconv
	url = ./p4m-gconv/
[submodule "p4m-gconv"]
	path = p4m-gconv
	url = ./p4m-gconv
[submodule "GrouPy"]
	path = GrouPy
	url = ./GrouPy
[submodule "./GrouPy"]
	url = https://github.com/adambielski/GrouPy.git
[submodule "./p4m-gconv"]
	url = https://github.com/jack-champagne/p4m-conv.git
